body {
    background-color: #F1B82D;
    margin: 0px;
    font-size: 32px;
}

#MU{
    height: auto;
    width: auto;
    margin-top: 5px;
}

.contents {
    width: 400px;
    position: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    align-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.button, #leaveButton {
    height: 40px;
    width:  70px;
    background-color: black;
    color: #F1B82D;
    border: none;
    border-radius: 10px;
    padding: 18px 20px;
    text-align: center;
    align-content: center;
    display: inline-block;
    font-size: 20px;
}

#note {
    margin-top: 20px;
    align-content: center;
    text-align: center;
}

#card{
    border-radius: 15px;
}

#Main{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}





