body {
    background-color: #F1B82D;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
}

h1 {
    margin: auto;
    display: block;
    text-align: center;
    padding-top: 15px;
}

form {
    display: block;
    padding: 15px;
    margin: auto;
    width: 90%;
    text-align:center;
}

textarea {
    width: 90%;
    height: 120px;
}

select{
    height: 30px;
    font-size: 25px;
}

input{
    height:30px;
    font-size: 20px;
}

#surveySubmit {
    background-color: black;
    color: #F1B82D;
    border: none;
    border-radius: 10px;
    padding: 16px 20px;
    text-align: center;
    display: block;
    font-size: 28px;
    height: 55px;
    align-content: center;
    margin: auto;
}

.required:after {
    content:" *";
    color: red;
  }
